@media only screen and (max-width: 768px) {
    .wrap_pages .rows {
        display: flex;
        flex-flow: column-reverse;
    }
    .wrap_pages .col_2 {
        max-width: 100%;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
    }
    .page_index .profile img {
        width: 10rem;
        height: 10rem;
        border: 4px solid #fff;
    }
    .wrap_pages h1.title {
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .wrap_banner {
        background: #f00;
    }
    .wrap_header {
        padding: 0;
    }
    .wrap_header header {
        display: block;
    }
    .wrap_header header > .brand {
        text-align: center;
        padding: 1rem;
        background: #000;
        color: #fff;
    }
    .wrap_header header > .menu > ul {
        display: block;
    }
    .wrap_header header > .menu > ul > li {
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
}